---
---

$header-bg-color: rgb(80, 78, 78);
$header-bg-color-secondary: rgb(0, 0, 0);

@import "{{ site.theme }}";

.main-content h3 {
    color: #000;
    font-weight: 800;
    margin-bottom: 5px;
}

.main-content h5 {
    margin: 0;
    color: #000;
    font-style: italic;
}

